<!DOCTYPE html>
<html ng-app="TriagemTouch">
    <head>
        <meta charset="utf-8" />
        <title>Triagem Touch | Novo SGA</title>
        <link rel="shortcut icon" href="images/favicon.png" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script type="text/javascript" src="js/angular.min.js?v=1.5.0"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="TriagemCtrl as ctrl">

        <!-- menu -->
        <div id="menu">
            <ul>
                <li>
                    <a href="javascript:void(0)" data-action="config">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;
                        Configuração
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-action="fullscreen">
                        <span class="glyphicon glyphicon-fullscreen"></span>&nbsp;
                        Fullscreen
                    </a>
                </li>
            </ul>
        </div>

        <div id="config" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Configuração</h4>
                    </div>
                    <div class="modal-body">
                        <form onsubmit="return false">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#tab-servidor" role="tab" data-toggle="tab">Servidor</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab-servicos" role="tab" data-toggle="tab">Serviços</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#tab-interface" role="tab" data-toggle="tab">Interface</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-servidor" class="tab-pane active">
                                        <div class="form-group">
                                            <label for="url">URL</label>
                                            <input id="url" type="url" class="form-control" ng-model="ctrl.url" ng-change="ctrl.loadUnidades()">
                                        </div>
                                        <div class="form-group">
                                            <label for="unidade">Unidade</label>
                                            <select id="unidade" class="form-control" ng-model="ctrl.unidade" ng-change="ctrl.changeUnidade()">
                                                <option value="">Selecione</option>
                                                <option value="{{u.id}}" ng-repeat="u in ctrl.unidades" ng-selected="u.id == ctrl.unidade">{{u.nome}}</option>
                                            </select>
                                        </div>
                                        <fieldset>
                                            <legend>Acesso</legend>
                                            <div class="form-group">
                                                <label for="username">Usuário</label>
                                                <input id="username" type="text" class="form-control" ng-model="ctrl.usuario">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Senha</label>
                                                <input id="password" type="password" class="form-control" ng-model="ctrl.senha">
                                            </div>
                                            <div class="form-group">
                                                <label for="clientId">Client Id</label>
                                                <input id="clientId" type="text" class="form-control" ng-model="ctrl.clientId">
                                            </div>
                                            <div class="form-group">
                                                <label for="clientSecret">Client Secret</label>
                                                <input id="clientSecret" type="password" class="form-control" ng-model="ctrl.clientSecret">
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div id="tab-servicos" class="tab-pane">
                                        <div class="exibir-servicos">
                                            <div ng-repeat="servico in ctrl.servicos">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-change="ctrl.changeServico(servico)" ng-model="servico.show"> {{ servico.nome }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-interface" class="tab-pane">
                                        <div class="form-group">
                                            <label for="interface-layout">Layout</label>
                                            <input id="interface-layout" type="text" class="form-control" ng-model="ctrl.interface.layout">
                                        </div>
                                        <div class="form-group">
                                            <label for="interface-title">Título</label>
                                            <input id="interface-title" type="text" class="form-control" ng-model="ctrl.interface.title">
                                        </div>
                                        <div class="form-group">
                                            <label for="interface-subtitle">Subtítulo</label>
                                            <input id="interface-subtitle" type="text" class="form-control" ng-model="ctrl.interface.subtitle">
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label for="interface-columns">Colunas</label>
                                                    <select id="interface-columns" class="form-control" ng-model="ctrl.interface.columns">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label for="interface-pageSize">Itens por página</label>
                                                    <input id="interface-pageSize" type="text" class="form-control" ng-model="ctrl.interface.pageSize" ng-change="ctrl.loadServicos()">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="ctrl.interface.print">
                                                Habilitar impressão
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="ctrl.interface.blocked">
                                                Bloquear menu
                                            </label>
                                        </div>
                                        <div class="form-group" ng-show="ctrl.interface.blocked">
                                            <label for="interface-pageSize">Tecla para desbloquear</label>
                                            <select id="interface-columns" class="form-control" ng-model="ctrl.interface.unblockKey">
                                                <option value="27">Esc</option>
                                                <option value="17">Ctrl</option>
                                                <option value="18">Alt</option>
                                                <option value="81">Q</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button id="config-save" type="button" class="btn btn-primary" ng-click="ctrl.save()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="error" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Erro</h4>
                    </div>
                    <div class="modal-body">
                        <!-- conteudo atualizado via js -->
                    </div>
                </div>
            </div>
        </div>

        <div id="layout">
            <ng-include src="'layouts/' + ctrl.interface.layout" onload="ctrl.layoutLoaded()"></ng-include>
            <!-- layout content -->
        </div>
        
        <iframe id="frame-impressao" width="300" height="150" style="display:none"></iframe>

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/triagem-touch.js"></script>
    </body>
</html>