<!DOCTYPE html>
<html ng-app="TriagemTouch">
<head>
    <meta charset="utf-8" />
    <title data-i18n="TriagemTouch.title">Triagem Touch | Novo SGA</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="TriagemCtrl">

    <!-- menu -->
    <div id="menu">
        <ul>
            <li>
                <a href="#config" data-toggle="modal">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;
                    <span data-i18n="TriagemTouch.configuration">Configuração</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" ng-click="fullscreen()">
                    <span class="glyphicon glyphicon-fullscreen"></span>&nbsp;
                    <span data-i18n="TriagemTouch.fullscreen">Fullscreen</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="config" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" data-i18n="TriagemTouch.configuration">Configuração</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab-servidor" role="tab" data-toggle="tab" data-i18n="TriagemTouch.server">Servidor</a>
                                </li>
                                <li role="presentation">
                                    <a href="#tab-servicos" role="tab" data-toggle="tab" data-i18n="TriagemTouch.services">Serviços</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-servidor" class="tab-pane active">
									<!--
									<div class="form-group">
										<label for="idioma" data-i18n="TriagemTouch.language">Idioma</label>
										<select id="idioma" class="form-control" ng-model="config.lang" ng-change="changeLang()" ng-selected="config.lang">
											<option value="pt-BR">Português (Brasil)</option>
											<option value="pt-PT">Português (Portugal)</option>
											<option value="en-US">English (United States)</option>
											<option value="es-ES">Español (España)</option>
										</select>
									</div>
									-->
                                    <div class="form-group">
                                        <label for="url" data-i18n="TriagemTouch.url">URL</label>
                                        <input id="url" type="url" class="form-control" ng-model="url" ng-change="loadUnidades()">
                                    </div>
                                    <div class="form-group">
                                        <label for="unidade" data-i18n="TriagemTouch.unit">Unidade</label>
                                        <select id="unidade" class="form-control" ng-model="unidade">
                                            <option value="" data-i18n="TriagemTouch.select">Selecione</option>
                                            <option value="{{u.id}}" ng-repeat="u in unidades" ng-selected="u.id == unidade">{{u.nome}}</option>
                                        </select>
                                    </div>
                                    <fieldset>
                                        <legend data-i18n="TriagemTouch.access">Acesso</legend>
                                        <div class="form-group">
                                            <label for="username" data-i18n="TriagemTouch.user">Usuário</label>
                                            <input id="username" type="text" class="form-control" ng-model="usuario">
                                        </div>
                                        <div class="form-group">
                                            <label for="password" data-i18n="TriagemTouch.password">Senha</label>
                                            <input id="password" type="password" class="form-control" ng-model="senha">
                                        </div>
                                        <div class="form-group">
                                            <label for="clientId" data-i18n="TriagemTouch.clientid">Client Id</label>
                                            <input id="clientId" type="text" class="form-control" ng-model="clientId">
                                        </div>
                                        <div class="form-group">
                                            <label for="clientSecret" data-i18n="TriagemTouch.clientsecret">Client Secret</label>
                                            <input id="clientSecret" type="password" class="form-control" ng-model="clientSecret">
                                        </div>
                                    </fieldset>
                                </div>
                                <div id="tab-servicos" class="tab-pane">
                                    <div class="row exibir-servicos">
                                        <div ng-repeat="servico in servicos">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-change="changeServico(servico)" ng-model="servico.show"> {{ servico.nome }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="TriagemTouch.close">Fechar</button>
                    <button id="config-save" type="button" class="btn btn-primary" ng-click="save()" data-i18n="TriagemTouch.save">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="error" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" data-i18n="TriagemTouch.error.title">Erro</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div id="layout">
        <div id="header">
            <h1 data-i18n="TriagemTouch.heading">Triagem touch</h1>
            <p data-i18n="TriagemTouch.description">Escolha abaixo o serviço que deseja atendimento</p>
        </div>
        <!-- 
            Lista dos serviços disponíveis
        -->
        <div id="servicos" class="page first">
            <div class="col-lg-6" ng-repeat="servico in servicos" ng-hide="servico.hide">
                <div class="touch-control">
                    <button class="btn btn-primary btn-lg btn-block" ng-click="tipoAtendimento(servico.id)">
                        <span class="icon glyphicon glyphicon-circle-arrow-right"></span>
                        {{servico.nome}}
                    </button>
                </div>
            </div>
        </div>
        <!-- 
            Escolher entre convencional ou prioridade
        -->
        <div id="tipo-atendimento" class="page">
            <div class="col-lg-6">
                <div class="touch-control convencional">
                    <button class="btn btn-primary btn-lg btn-block" ng-click="distribuiNormal()">
                        <span class="icon icon-left glyphicon glyphicon-print"></span>
                        <span data-i18n="TriagemTouch.normal">Convencional</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="touch-control prioridade">
                    <button class="btn btn-danger btn-lg btn-block" ng-click="tipoPrioridade()">
                        <span class="icon glyphicon glyphicon-circle-arrow-right"></span>
                        <span data-i18n="TriagemTouch.priority">Prioridade</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- 
            Lista das prioridades disponíveis
        -->
        <div id="prioridades" class="page">
            <div class="col-lg-6" ng-repeat="prioridade in prioridades">
                <div class="touch-control convencional">
                    <button class="btn btn-danger btn-lg btn-block" ng-click="distribuiSenha(prioridade.id)">
                        <span class="icon icon-left glyphicon glyphicon-print"></span>
                        {{prioridade.nome}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <iframe id="frame-impressao" width="300" height="150" style="display:none"></iframe>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/i18next.min.js"></script>
    <script type="text/javascript" src="js/triagem-touch.js"></script>
</body>
</html>